@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --warna1: #edf2f7;
  --warna2: #ffcf54;
  --warna3: #ffdf99;
  --warna4: #2b2b29;
  --warna5: #e2e8f0;
  --warna6: #2d3748;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

#all {
  background-color: var(--warna1);
  position: relative;  
  z-index: 1; 
}

.borderakhir {
  position: absolute;
  border-radius: 0px 0px 50px 50px;
  background-color: #edf2f7;
  margin-top: -10px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.borderakhir .process {
  background-color: transparent;
  color: #2D3748;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  border: none;
  transform: translateY(40px);
  z-index: 2;
}

.liquidborderakhir {
  position: absolute;
  margin-top: 110px;
}

@media (max-width: 992px) {
  .liquidborderakhir {
    display: none;
  }
  .borderakhir {
    border-radius: 0px 0px 100px 100px;
  }
  .borderakhir .process {
    transform: translateY(0);
  }
}

.solusibtn {
  background-color: var(--warna4);
  border-radius: 12px;
  color: #F7FAFC;
  font-weight: 600;
  font-size: 18px;
  width: 280px;
  height: 66px;
  border: none;
  transition: 0.5s;
}

.solusibtn:hover {
  background-color: #ffa600;
}

.bayangan {
  box-shadow: 8.61241px 9.27491px 13.9124px rgba(0, 0, 0, 0.06);
  /* box-shadow: 13px 13px 15px 0 rgba(0, 0, 0, 0.1); */
  /* filter: drop-shadow(13px 14px 21px rgba(0, 0, 0, 0.5)); */
}

.neo {
  box-shadow: 13px 14px 21px 0 rgba(0, 0, 0, 0.1), -10px -10px 30px 0 #fff;
}
.neo2 {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -5px -5px 10px 0 #fff;
}
.judul {
  font-weight: 900;
  line-height: 70px;
  font-size: 56px;
}
.judul2 {
  font-weight: 800;
  line-height: 52.5px;
  font-size: 42px;
}

@media (max-width: 1399px) {
  .judul {
    line-height: 60px;
    font-size: 48px;
  }
  .solusibtn {
    width: 280px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 1199px) {
  .judul {
    font-weight: 800;
    line-height: 47.5px;
    font-size: 38px;
  }
  .solusibtn {
    width: 240px;    
  }
}

@media (max-width: 992px) {
  body {
    background-color: var(--warna4);
  }
}

@media (max-width: 575px) {
  .solusibtn {
    font-weight: 400;
    font-size: 14px;
    width: 240px;
    height: 40px;
  }
}